:root {
  --true-color: #50dd50;
  --false-color: #ff5050;
}

:not(:defined) {
  display: none;
}

html, body, #app {
  /* height: 100%; */
  width: 100%;
  margin: 0;

  font-family: "Open Sans";
}

#app {
  text-align: center;
}

.expander {
  width:100%;
  height: 100%;
}

td {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

td.false {
  position: relative;
}

td.false::after {
  content: "";
  display: block;
  background-color: lightgrey;
  height: .5em;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  margin: auto;
}

td.false > a {
  position: absolute;
  top: 0;
  left: 0;
}

#shineTable td.true {
  background-image: url("../img/shine.png");
}

#bluesTable td.true {
  background-image: url("../img/blue.png")
};

sl-details::part(summary) {
  font-style: italic;  
}

sl-details::part(header) {
  padding: 0;
  color: white;
}

sl-details::part(content) {
  padding-top: 0.5em
}

sl-details::part(base) {
  background-color:#ffffff33;
}

span.missing {
  color: var(--false-color);
  display: inline-block;
  text-indent: -3.75em;
  padding-left: 3.75em;
}

span.have {
  color: var(--true-color);
  display: inline-block;
  text-indent: -2.75em;
  padding-left: 2.75em;
}

th.corner {
  font-weight: normal;
  font-style: italic;
  text-decoration: wavy underline;
}

th.coin {
  background-image: url("../img/coin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

tbody tr:hover > th {
  background-color: #22222277;
}

.cui-collapse {
  overflow-x: visible !important;
}

#shineTable th, td {
  height: 1em;
}

td a {
  width: 100%;
  height: 100%;
}

#shineTable td {
  max-width:  3.25em;
}

#bluesTable th, td {
  min-width: 18.5px;
  height: 1em;
}

table {
  display: inline-block;
  min-width: max-content;
  table-layout: fixed;
  overflow: visible;
  margin: 10px;
}

#tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min-content;
}

/* #bluesTable {
  position: absolute;
  top: 0;
} */

#summaryLayout {
  color: white;
  background-color: #00000055;
  width: fit-content;
  max-width: max-content;
  margin: auto;
  padding: 5px;
  border-radius: 1vw;
  margin-top: 2.5em;
}

fieldset {
  display: inline-block;
  width: max-content;
}
:root {
  --rivet-inset: 18px;
  --rivet-size: 7px;
}

@font-face {
    font-family: "Hey Gorgeous";
    src: url("https://db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.eot");
    src: url("https://db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.svg#Hey Gorgeous")format("svg");
}

.box {
  --box-height: auto;
  --box-width: auto;
  
  font-family: "Hey Gorgeous";
  color: white;
  text-shadow: 3px 3px 1px #00000055;
  text-align: center;
  
  width: var(--box-width);
  height: var(--box-height);
  background-color: #0211dd95;
  border-radius: 1.8vw;
  position: absolute;
  top: calc(50% - var(--box-height)/2);
  left: calc(50% - var(--box-width)/2);
  margin: auto;
}

.titleBox {
  --box-height: 5em;
  --box-width: 27em;
  top: 1em;
  font-family: "Super Mario 256";
  text-shadow:0px 0px 0 rgb(-16,100,188),-1px 1px 0 rgb(-22,94,182),-2px 2px 0 rgb(-29,87,175),-3px 3px 0 rgb(-35,81,169),-4px 4px 0 rgb(-41,75,163), -5px 5px 0 rgb(-47,69,157),-6px 6px 5px rgba(0,0,0,0.2),-6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2);}



.uploadBox {
  --box-height: 250px;
  --box-width: 500px;
}

.box::after {
  --border-inset: 7px;
  --total-inset: calc(2 * var(--border-inset));
  content: "";
  display: inline-block;
  width: calc(100% - 2px - var(--total-inset));
  height: calc(100% - 2px - var(--total-inset));
  position: absolute;
  top: var(--border-inset);
  left: var(--border-inset);
  border-radius: calc(1.8vw - var(--border-inset));
  border: 1px solid white;
  pointer-events: none;
}

.circ {
  display: inline-block;
  width: var(--rivet-size);
  height: var(--rivet-size);
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.tl {
  top: var(--rivet-inset);
  left: var(--rivet-inset);
}

.tr {
  top: var(--rivet-inset);
  right: var(--rivet-inset);
}
.br {
  bottom: var(--rivet-inset);
  right: var(--rivet-inset);
}

.bl {
  bottom: var(--rivet-inset);
  left: var(--rivet-inset);
}

body {
  background-color: #cbd3f8;
  background-image: url("../img/Arches.png");
}

.box > a.contents {
    text-decoration: none;
    display: block;
}

.box > .contents {
  padding-top: 40px;
}

.titleBox > .contents {
  padding-top: .8em;
  margin: auto;
  font-size:xx-large;
  color: #e9f6fd;
}


#uploadForm {
   padding-top: 10%;  
}

#saveFileLabel {
  color: yellow;
  font-size: .75em;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

#saveFileLabel::before{
  content: "";
  display: inline-block;
  height: 2.5em;
  width: 3.5em;
  position: absolute;
  left: -4.4em;
  top: -.2em;
  background-size: cover;
  background-image: url("../img/pointer.png")
}


footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
  padding-bottom: 1em;
}

footer.summaryLayout{
  position: unset;
  padding-top: 1em;
}

.icon {
  vertical-align: middle;
}

#slotSelectRadio {
  margin-top: 7em;
  border: 0;
}

#slotSelectRadio>span {
  position: relative;
  margin-right: 3em;
}

#slotSelectRadio span:last-child {
  margin-right: 0;
}

#slotSelectRadio input {
  display: none;
}

#slotSelectRadio img {
  filter: drop-shadow(2px 2px 2px #222);
}

#slotSelectRadio label {
  cursor: pointer;
}

#slotSelectRadio input[type="radio"]:checked+label::after {
  content: "";
  background-image: url(../img/pointer.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 2.5em;
  top: 1em;
  transform: rotate(270deg);
}